body {

    background: url(images/davidIndex.charcoal.jpg) no-repeat center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px #000 ;
	color: #fff;

}

/* navbar */
.navbar-default {
    background-color: #ECECEC;
    border-color: #E7E7E7;
}