# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase //iosDevelopment
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /iosDevelopment/index.php [L]
</IfModule>

# END WordPress
