
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }


h1, h2, h3, h4, h5, h6, p, div {
    color:#494132;
    text-shadow: none;
 /*  font-family: 'Special Elite', cursive;
 */   font-family: 'IM Fell English', serif;   
 /*   font-family: 'IM Fell DW Pica SC', serif;
    font-family: 'IM Fell English SC', serif;
*/}
a {
    color: inherit;
    text-decoration: none;
}

.intro {
    border: none;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background: #2a2e39;
   background: url(images/davidIndex.gif) no-repeat right bottom fixed;
 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/davidIndex.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/davidIndex.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     */  
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

}

.intro.home::after {
    content: "";
    background: url(images/davidIndex.gif) no-repeat right bottom fixed;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
 
}
.intro h1 {
    text-align: center;
}

.contain--open .intro {
    -webkit-transform: translate3d(0, -150%, 0) translate3d(0, 50%, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 60%, 0);
}

/* Intro content */


.title.home {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

.intro__description {
    margin: 0 auto 0 1em;
    line-height: 1.2;
}

/* Trigger button with SVG */
.trigger {
    position: fixed;
    bottom: 20px;
    right: 0pc;
    margin: 30px 40px;
    overflow: hidden;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: none;

}

/* Hide the text */
/*.trigger span {
    position: absolute;
    top: 100%;

}*/

.icon line,
.icon circle {
    stroke: #494132;
    fill: rgba(229, 206, 117,.5);
    stroke-width: 4px;
}

.icon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* /pulse */

/* Hide grid/circle and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* Main content */
.items-wrap {

    width: 100%;
    height: 100%;

}

.items-wrap::after {

    width: 100%;
    height: 100%;
    background: #2a2e39;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none;
}

.contain--open .items-wrap::after {
    opacity: 0;
}



.spacer {
    position: relative;
    min-height: 60%;
}

/*centers menu items*/
.menu{

          text-align: center;
}


nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 20%;


}

nav li {
      display: inline-block;
  }


/*Style for menu links*/
nav li a {
    margin: 2px 5px;
    background: url(../../img/links.png) no-repeat center;
    display:block;
    min-width:140px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}

/*Hover state for links*/
nav li:hover a {
    background: url(../../img/links.png) no-repeat center;
    opacity: 0.3;

}

.item {
    position: relative;
    margin: 20px;
    max-height: 100px;
    max-width: 300px;
    overflow: hidden;
    height: 22vw;
    outline: none;
    border: 5px solid #2a2e39;
    border-radius: 25px;
    border-width: 0 5px 10px;
    background: #2a2e39;
}

.item__image {

    min-height: 100%;
    width: 100%;
    opacity: 0.7;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.item:hover .item__image {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.item__title {

    padding: 1em;
    color: #dbdbdb;
    font-size: 1.85em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item__title {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}


/* Media Queries */

@media screen and (max-width: 1440px) {
    .item {
         height: 30vw;
    }
}

@media screen and (max-width: 1000px) {
    .item {
         height: 45vw;
    }
    .item,
    .intro__content {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 590px) {

    nav ul {
        bottom: 15%;
    }

    /*Create vertical spacing*/
    nav li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    nav ul li, li a {
        width: 100%;
    }
    .spacer {
        min-height: 30%
    }

    /*change font size for title*/
    .intro__title {
        font-size: 2em;
    }

    .contain--open .intro {
        -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 30%, 0);
        transform: translate3d(0, -100%, 0) translate3d(0, 30%, 0);
    }


}

@media screen and (max-height: 150px) {

    .contain--open .intro {
        -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 27%, 0);
        transform: translate3d(0, -100%, 0) translate3d(0, 27%, 0);
    }
}

/*bootstrap override*/
body {
    background-color: #2A2E39;
}


/* body#home, #web_development, #travel_blog, #about, #contact{

    background: url(images/davidIndex.gif) no-repeat right fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/davidIndex.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/davidIndex.gif', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    


}  */











body#acting{

    background: url(images/davidIndex.pic.jpg) no-repeat top left fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/davidIndex.pic.jpg)', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/davidIndex.pic.jpg)', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}



/* navbar */
.navbar-default {
    background: rgba(255, 255, 255, 0.5);
    border:none;


}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #2F4B62;
    text-shadow: none;

}


/*toggle button*/
.navbar-default .navbar-toggle {
border-color: #C0C0C0;
}



/* nav-tabs*/
.nav-tabs {
    border:none;
}

/*  footer */
.footer.home, .footer.travel_blog {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
    padding: 42px 0;
    font-size: 15px;


}
.footer.acting, .web_development {
    position:bottom;
    bottom:0;
    width:100%;
    height:60px; 
    padding: 42px 0;
    font-size: 12px;

}

.footer ul {margin: 0; padding: 0; float: left;}
.footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-transform: lowercase;
}
.footer ul li:after {content:" | "}
.footer ul li:last-child:after {content:"";}
.footer p {margin: 0; text-align: right; padding-right: 3px;}
.footer a {text-decoration: none; margin: 0 10px;}
.footer li:first-child a {margin-left: 4px;}
.footer a:hover, .footer a:active {text-decoration: underline;}


/* Web Dev section*/
 .webDev img {
    border:solid;


 }
 div.webDev {
    list-style: none;
    margin: 3em;
    padding: 1em;
}
/*end web dev*/

/*Contact*/
.contact h1 {
    font-size: 24px; 
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: normal;    
}

.contact p {width: 375px; margin-left: auto; margin-right: auto; }

form {width: 375px; margin: 34px auto;}
form tr {
    border: 1px solid #CCC;
    background: rgb(224, 227, 232);
}
form table {width: 375px; margin-bottom: 16px;}
form th {
    width: 85px;
    border-right: 1px solid #CCC;
    vertical-align: middle;
    padding: 8px;
}
form td {
    padding: 15px 15px;
}
form td select,
form td input,
form td textarea {
    width: 100%;
}
form input[type="submit"] {
    width: 375px;
    text-align: center;
    border: 1px solid #8e8e46;
    background: rgb(104, 104, 126);
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}

